# ================= Python =================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# ================= Banco =================
*.db

# ================= Ambiente =================
.env
.env.*

# ================= VS Code =================
.vscode/

# ================= Sistema =================
.DS_Store
Thumbs.db

# ================= Logs =================
*.log

# ================= Build =================
dist/
build/

# ================= Docker =================
*.pid

# ================= Node (caso use depois) =================
node_modules/

# ================= Coverage =================
.coverage
htmlcov/

# ================= Pytest =================
.pytest_cache/